:root {
  --md-primary-fg-color: #3D65A3;
  --md-primary-fg-color--light: #5A80BC;
  --md-primary-fg-color--dark: #2C4B7C;
  --md-accent-fg-color: #DB9619;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #3D65A3;
  --md-accent-fg-color: #DB9619;
}
